<div class="tag-area">

    <h4 class="rigth-panel-title"><b>POPULAR TAGS</b></h4>
    <ul>
        @foreach (TagViewModel tag in ViewBag.PopularTags)
        {
            <li><a asp-controller="Post" asp-action="Search" asp-route-tags="@tag.Name">@tag.Name</a></li>
        }
    </ul>

</div><!-- tag-area -->